<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softbox.thefarm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheFarm">
        <activity
            android:name=".GetCalves"
            android:exported="false" />
        <activity
            android:name=".calfProgress"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.softbox.thefarm.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityDetails"
            android:exported="false" />
        <activity
            android:name=".ManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.EHealth" />
        <activity
            android:name=".AnimalListActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".AddDoctor"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".CreateReservation"
            android:exported="false" />
        <activity
            android:name=".DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorInfo"
            android:exported="false" />
        <activity
            android:name=".DoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".FinalReservationActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false" />
        <activity
            android:name=".Reservations"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>